<!--index.vtl-->
  <div class="container">
    <div class="jumbotron">
      <h1 class="webpage-name">Welcome to the Code-A-Thon!</h1>
    </div>
    <div class="jumbotron">
      <h3><a href="/teams">View All Teams</a></h3>
      <h3><a href="/teams/new">Add a New Team</a></h3>
    </div>
  </div>
<!--index.vtl-->
