<!--index.vtl-->
  <div class="container">
    <div class="jumbotron">
      <h1 class="webpage-name">Code-A-Thon</h1>
      <ul class="nav navbar-nav">
        <li><a href="/teams">View All Teams</a></li>
        <li><a href="/teams/new">Add a New Team</a></li>
      </ul>
    </div>
  </div>
<!--index.vtl-->
