<div class="jumbotron">
  <a class="navbar-brand">$member.getName()</a>
</div>
<div class="well">
  <h3><a href="/teams">Add another Team Member</a></h3>
  <h3><a href="/members">All Team Members</a></h3>
</div>
