<div class="jumbotron">
  <h1>Teams Currently Signed Up</h1>
</div>
<div class="jumbotron">
  <h2>Teams:</h2>
  #foreach ($team in $teams)
    <h3><a href="/teams/$team.getId()">$team.getTeamName()</a></h3>
  #end
</div>
<div class="jumbotron">
  <h3><a href="/teams/new">Add a New Team</a></h3>
  <h3><a href="/members">View All Members Currently Signed Up</a></h3>
</div>
