  <h1>Here are all of the Teams</h1>
    <ul class="nav navbar-nav">
      #foreach ($city in $cities)
        <li><a href="/teams/$team.getId()">$team.getTeamName()</a></li>
      #end
      <li><a href="/teams/new">Add a new Team</a></li>
      <li><a href="/job-openings">View all Members on this Team</a></li>
    </ul>
